{% extends 'base.html' %}
{% block content %}



<div class="w-4/5 mx-auto py-6">
    <form method="POST">
        {% csrf_token %}
        <p class="text-xl"> Are you sure you want to Delete <span class="text-red-600">{{todo.title}}</span> task? </p>
    <div class="shadow-slate-500 mx-auto my-6">
        <button type="submit" href="{% url 'todolist' %}" class="bg-red-500 hover:bg-red-700 text-white  py-2 px-5 rounded">
            Yes
          </button>
        <a type="button" href="{% url 'todolist' %}" class="bg-green-500 hover:bg-green-700 text-white  py-2 px-5 rounded">
            No
        </a>
        </div>
    </form>
</div>



{% endblock content %}